.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-control:focus {
	border-color: #0062cc;
	box-shadow: 0 0 0 0.2rem rgba(0, 98, 204, 0.25);
}

#form-email[error] {
	border-color: red;
}

.error {
	color: var(--red);
}

.success {
	color: var(--blue);

section.fullimage {
  padding-top: 0rem;
  padding-bottom: calc(0rem - 72px);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

}